{% extends 'hotel/base.html' %}
{% load static %}
{% block content %}

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span7">
        <div class="inner-heading">
          <h2>Exciting Attractions</h2>
        </div>
      </div>
      <div class="span5">
        <ul class="breadcrumb">
          <li><a href="{% url 'hotel:index' %}">Home</a> <i class="icon-angle-right"></i></li>
          <li><a href="#">Uncover The Wonders</a> <i class="icon-angle-right"></i></li>
          <li class="active">Exciting Attractions</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <div style="margin-bottom:0;" class="row">
      <div class="left"><img src="{% static 'hotel/img/03-index.jpg' %}">
      </div>
      <div class="right">
        <div class="art">
          <h4 style="color:#20c0df;">Urban legends of the past</h4>
          <p class="room-intro">Lorem ipsum dolor sit amet, ei quod constituto qui. Summo labores expetendis ad quo, lorem luptatum et vis. No qui vidisse signiferumque. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed. Dicam appetere ne qui, no has scripta appellantur.</p>
        </div>
        <div class="wonders-button">
          <a href="#content" class="btn-wonders scrollto">Discover more</a>
        </div>
      </div>
    </div>
    <div style="margin-bottom:0;" class="row">
      <div class="right">
        <div class="art">
          <h4 style="color:#20c0df;">Surprising dreamlike experiences</h4>
          <p class="room-intro">Lorem ipsum dolor sit amet, ei quod constituto qui. Summo labores expetendis ad quo, lorem luptatum et vis. No qui vidisse signiferumque. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed. Dicam appetere ne qui, no has scripta appellantur.</p>
        </div>
        <div class="wonders-button">
          <a href="#content" class="btn-wonders scrollto">Discover more</a>
        </div>
      </div> 
      <div class="left"><img src="{% static 'hotel/img/blood.jpg' %}">
      </div>   
    </div>
    <div style="margin-bottom:0;" class="row">
      <div class="left"><img src="{% static 'hotel/img/hide-and-seek.jpg' %}">
      </div>
      <div class="right">
        <div class="art">
          <h4 style="color:#20c0df;">Hide and seek with your family</h4>
          <p class="room-intro">Lorem ipsum dolor sit amet, ei quod constituto qui. Summo labores expetendis ad quo, lorem luptatum et vis. No qui vidisse signiferumque. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed. Dicam appetere ne qui, no has scripta appellantur.</p>
        </div>
        <div class="wonders-button">
          <a href="#content" class="btn-wonders scrollto">Discover more</a>
        </div> 
      </div>
    </div>
    <div class="row marginbot30">
      <div class="right">
        <div class="art">
          <h4 style="color:#20c0df;">Gloomy seances</h4>
          <p class="room-intro">Lorem ipsum dolor sit amet, ei quod constituto qui. Summo labores expetendis ad quo, lorem luptatum et vis. No qui vidisse signiferumque. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed. Dicam appetere ne qui, no has scripta appellantur.</p>
        </div>
        <div class="wonders-button">
          <a href="#content" class="btn-wonders scrollto">Discover more</a>
        </div>  
      </div> 
      <div class="left"><img src="{% static 'hotel/img/skeletons.jpg' %}">
      </div>   
    </div>
  </div>
</section>

{% endblock %}