{% extends "hotel/base.html" %}
{% block content %}

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2>Outbox</h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'hotel:index' %}">Home</a> <i class="icon-angle-right"></i></li>
          <li class="active">Outbox</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h3>Sent Messages</h3>
        {% if messages %}
        {% for message in messages %}
        <div class="marginright alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% if message_list %}
        <table class="messages">
          <thead class="table-head">
            <tr><th>Recipient</th><th>Subject</th><th>Sent</th><th>Action</th></tr>
          </thead>
          <tbody class="white">
            {% for message in message_list %}
            <tr>
              <td>{{ message.recipient }}</td>
              <td>
                <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
              </td>
              <td>{{ message.sent_at|date:"DATETIME_FORMAT" }}</td>
              <td><a href="{% url 'hotel:messages_delete' message.id %}?next={% url 'hotel:messages_outbox' %}">delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>No messages.</p>
        {% endif %}
      </div>
      <div class="span4">
        <aside class="right-sidebar">
          <div class="widget">
            <h5 class="widgetheading">Portfolio information</h5>
            <ul class="folio-detail">
              <li><label>Category :</label> Web design</li>
              <li><label>Client :</label> Project Company</li>
              <li><label>Project date :</label> 05 July, 2020</li>
              <li><label>Project URL :</label> <a href="#">www.projectsiteurl.com</a></li>
            </ul>
          </div>
          <div class="widget">
            <h5 class="widgetheading">Text widget</h5>
            <p>
              Lorem ipsum dolor sit amet, unum suscipiantur te cum, vide magna ea eam. At eos wisi tractatos temporibus. Ne has omnis harum. Ei mea graece delenit nominati. Ut dolore albucius torquatos vel, choro gubergren no mel.
            </p>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>

{% endblock %}