{% extends 'hotel/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="inner-heading">
          <h2>Reset Your Password</h2>
        </div>
      </div>
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="{% url 'hotel:index' %}">Home</a> <i class="icon-angle-right"></i></li>
          <li class="active">Reset Your Password</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="row">
          <div class="col-md-4">
            <div class="register register-color register-radius auth-line">
              <img class="marginbot20" src="{% static 'hotel/img/logo-mail.png' %}" width="70" height="90">
              <h3 class="log-color">Reset Password</h3>
              <form action="" method="POST" class="form">
                {% csrf_token %}
                <fieldset class="form-group marginbot20">
                  {{ form|crispy }}
                </fieldset>
                <div class="form__field">
                  <input type="submit" value="Reset Password">
                </div>
              </form>
            </div>
          </div>
        </div>  
      </div>
      <div class="span4">
      </div>
      <div class="span4">
        <aside class="right-sidebar">
          <div class="widget">
            <h5 class="widgetheading">Portfolio information</h5>
            <ul class="folio-detail">
             <li><label>Category :</label> Web design</li>
              <li><label>Client :</label> Project Company</li>
              <li><label>Project date :</label> 05 July, 2020</li>
              <li><label>Project URL :</label> <a href="#">www.projectsiteurl.com</a></li>
            </ul>
          </div>
          <div class="widget">
            <h5 class="widgetheading">Text widget</h5>
            <p>
              Lorem ipsum dolor sit amet, unum suscipiantur te cum, vide magna ea eam. At eos wisi tractatos temporibus. Ne has omnis harum. Ei mea graece delenit nominati. Ut dolore albucius torquatos vel, choro gubergren no mel.
            </p>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>

{% endblock %}